.border {
    border: 2px solid gray
}
.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.rounded {
    border-radius: 8px;
}   
.m-1 {
    margin: 4px;
}
.m-2 {
    margin: 8px;
}
.margin {
    margin: 16px;
}